.create_buttons_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.task_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  height: 100%;
  padding: 10px;

  .column_container {
    flex-direction: column;
    align-items: center;
    margin: 0px 10px 0px 10px;

    .column {
      padding: 10px;
      min-height: 500px;
      max-width: 225px;
      min-width: 225px;
      border-radius: 10px;
      // box-shadow: 0px 2.5px 5px 2.5px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 20px 5px rgba(60, 60, 60, 0.06);

      .column_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h2 {
          font-size: 1.5rem;
          text-align: start;
          color: $neutral-50;
        }
      }

      .card {
        user-select: none;
        margin: 10px 0px 10px 0px;
        padding: 8px;
        min-height: 50px;
        background-color: $neutral-50;
        color: #3c3c3c;
        border-radius: 5px;
        transition: all 0.5s ease;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 0px,
          rgba(0, 0, 0, 0.5) 0px 0px 1px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: bolder;
        &:hover {
          box-shadow: 0px 4px 20px 5px rgba(60, 60, 60, 0.06);
          transition: all 0.5s ease;
        }
        .card-box {
          width: 100%;
          height: 100%;
          background-color: transparent;
          outline: none;
          border-radius: 5px;
          border: none;
          text-align: start;
        }

        .cursor {
          cursor: pointer;
        }
      }
    }
  }
}

.btn-create {
  background-color: $primary-mint-500;
  border: 0rem;
  border-radius: 1rem;
  color: $neutral-50;
  font-weight: bolder;
  align-self: flex-end;
  padding: 0.5rem 1rem;
  margin: 10px;
  &:hover {
    background-color: darken($primary-mint-500, 5%);
    box-shadow: 0px 4px 20px 5px rgba(60, 60, 60, 0.06);
    transition: all 0.3s ease;
  }
}

@media (max-width: 1000px) {
  .newProject {
    margin: 2rem 0;
  }
  .task_container {
    flex-wrap: wrap;

    .column_container {
      width: 250px;

      .column {
        min-height: 50px;
      }
    }
  }
}

@media (max-width: 550px) {
  .create_buttons_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .btn-create {
    border-radius: 0.5rem;
    font-size: 14px;
    padding: 0.25rem 0.5rem;
  }

  .newProject {
    font-size: 0.75rem;
  }
  .componentContainer {
    padding-right: 2rem;
    padding-left: 2rem;
    .task_container {
      padding-right: 0rem;
      padding-left: 0rem;
      flex-direction: column;
      flex-wrap: nowrap;
      .column_container {
        width: 300px;
        margin: 0px;
        .column {
          min-height: 50px;
          border-radius: 10px;
          h2 {
            text-align: center;
          }
        }
      }
    }
  }
}
