.layoutContainer {
    display: flex;
    flex-direction: row;
    .cont {
        width: 85%;
    }
}

@media (max-width: 970px) {
    .layoutContainer {
        min-width: 100vw;
        .cont {
            justify-self: center;
            min-width: 100vw;
        }

    }
}