.layoutContainer {
  display: flex;
  flex-direction: row;
  .cont {
    width: 85%;
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

@media (max-width: 970px) {
  .layoutContainer {
    min-width: 100vw;
    .cont {
      justify-self: center;
      min-width: 100vw;
    }
  }
}
