.componentContainer {
  background-color: $neutral-50;
  padding: 4rem;
  min-height: 100vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  h1 {
    color: $primary-gray-500;
    font-weight: bold;
    font-size: 2.25rem;
    padding-bottom: 4.5rem;
  }
  li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 1rem;
  }
  .newProject {
    background-color: $primary-mint-500;
    border: 0rem;
    border-radius: 1rem;
    color: $neutral-50;
    font-weight: bolder;
    align-self: flex-end;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: $font;
      box-shadow: 0px 4px 40px 10px rgba(0, 0, 0, 0.06);
      transition: all 0.5s ease;
    }
  }
  .archivedProjects {
    background-color: $primary-gray-400;
    font-weight: bolder;
    border: 0rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    width: 25vw;
    align-self: center;
    margin: 2rem 0;
    color: $neutral-50;
    &:hover {
      background-color: $font;
      box-shadow: 0px 4px 40px 10px rgba(0, 0, 0, 0.06);
      transition: all 0.5s ease;
    }
  }
}

@media (max-width: 970px) {
  .componentContainer {
    width: 100%;
    .newProject {
      margin: 2rem 0;
    }
    .archivedProjects {
      width: auto;
    }
  }
}

@media (max-width: 550px) {
  .componentContainer {
    h1 {
      font-size: 1.75rem;
    }
    .newProject {
      font-size: 0.75rem;
    }
    .archivedProjects {
      font-size: 0.75rem;
    }
  }
}
