@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

//Primary colors//
$primary-blue-500: #22b4de;
$primary-mint-500: #2ed199;
$primary-gray-500: #3b566e;
$primary-gray-400: #6487a5;
$font-family: "Lato", sans-serif;

//Neutrals//
$neutral-100: #f1f1f1;
$neutral-50: #fafafa;
$font: #3c3c3c;

$color-blue: #0094fe;
$color-light-blue: #9cd3fb;
$color-green: #37c99e;
$color-red: #e65a83;
$color-yellow: #ffe175;
$color-orange: #f89a42;

body {
  font-family: $font-family;
  color: $font;
  box-sizing: border-box;
}
