//Primary colors//
$primary-blue-500: #22B4DE;
$primary-mint-500: #2ED199;
$primary-gray-500: #3B566E;
$primary-gray-400: #6487A5;

//Neutrals//
$neutral-100: #F2F2F2;
$neutral-50: #FAFAFA;
$font: #3C3C3C;
