@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;500&display=swap');
//Primary colors//
$primary-blue-500: #22b4de;
$primary-mint-500: #2ed199;
$primary-gray-500: #3b566e;
$primary-gray-400: #6487a5;
$font-family: 'Sora', sans-serif;

//Neutrals//
$neutral-100: #F2F2F2;
$neutral-50: #FBFBFB;
$font: #3c3c3c;

$color-blue: #0094fe;
$color-light-blue: #9cd3fb;
$color-green: #37c99e;
$color-red: #e65a83;
$color-yellow: #ffe175;
$color-orange: #f89a42;


body {
  font-family: $font-family !important;
  font-weight: lighter !important;  
  color: $font;
  box-sizing: border-box;
}
