@import "~bootstrap/scss/bootstrap";


@import "./variables.scss";
@import "./layout.scss";
@import "./components/projects/projects.scss";
@import "./components/layout/sidebar/sidebar.scss";
@import "./components/layout/navbar/navbar.scss";
@import "./components/layout/layout.scss";
@import "./components/Table.scss";
@import "./components/projects/projectCard.scss";
@import "./components/_auth.scss";
@import "./components/_tareas.scss";
@import "./components/projects/projectDeets/projectDeets.scss";
@import "./components/projects/createProjects/createProjects.scss";
@import "./components/common/planCard.scss";
@import "./components/profile/profileDeets.scss";
@import "./components/tasks/taskDeetsModal.scss";
@import "./components/projects/createProjects/paypal.scss";
@import "./components/chat/chat.scss";
@import "./components/layout/sidebar/stopwatch.scss";
@import "./components/contact/contactModal.scss";
@import "./components/stats/stats.scss";
@import "./components/stats/templates/chartCard.scss";
