.sidebarContainer {
    width: 15%;
    .sidebarVisible {
        height: 100vh;
        width: 15%;
        padding: 2rem;
        background-color: $font;
        color: $neutral-100;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        left: 0;

        .logo {
            padding: 2rem 1rem;
            align-items: center;
        }

        li {
            list-style: none;
        }

        ul {
            padding: 0;
            Button {
                padding: 1rem;
                border-radius: 1rem;
                width: 100%;
                border: 0;
                color: $neutral-100;
                font-weight: bold;
                background-color: transparent;
                outline: none;
                text-align: left;
                &:hover {
                    background: $neutral-100;
                    color: $font;
                }

                span {
                    padding-left: 0.5rem;
                }
            }
        }

        .userContainer {
            Button {
                padding: 1rem;
                border-radius: 1rem;
                width: 100%;
                border: 0;
                color: $neutral-100;
                font-weight: bold;
                background-color: transparent;
                outline: none;
                text-align: center;
                &:hover {
                    background: $neutral-100;
                    color: $font;
                }
                span {
                    padding-left: 0.5rem;
                }
            }
        }
    }

    .burgerMenu, .sidebarMobile {
        visibility: hidden;
        position: absolute;
    }

}


@media (max-width: 970px) {
    .sidebarContainer{
        position: absolute;
        .burgerMenu {
            visibility: visible;
            position: fixed;
            z-index: 50;
            height: 2.5rem;
            width: 2.5rem;
            left: 2rem;
            top: 2rem;
            background-color: transparent;
            border: none;
            outline: none;
            svg {
                fill: $primary-blue-500;
            }
        }
        .sidebarVisible {
            visibility: hidden;
            height: 0;
            width: 0;
        }
        .sidebarMobile {
            visibility: visible;
            top: 0;
            height: 100vh;
            width: 100vw;
            padding: 2rem;
            padding-top: 6rem;
            background-color: $font;
            color: $neutral-100;
            font-weight: bold;
            position: fixed;
            left: 0;
    
            .logo {
                padding: 2rem 1rem;
                align-items: center;
            }
    
            li {
                list-style: none;
            }
    
            ul {
                padding: 0;
                Button {
                    padding: 1rem;
                    border-radius: 1rem;
                    width: 100%;
                    border: 0;
                    color: $neutral-100;
                    font-weight: bold;
                    background-color: transparent;
                    outline: none;
                    text-align: center;
                    &:hover {
                        background: $neutral-100;
                        color: $font;
                    }
    
                    span {
                        padding-left: 0.5rem;
                    }
                }
            }
        }
    }
}