.stats-container {
    background-color: $neutral-50;
    padding: 2rem;
    min-height: 100vh;

    .divArrowLeft {
        display: flex;
        align-self: flex-start;
        flex-direction: row;
        justify-content: start;
        font-weight: bold;
        align-items: center;
        padding-bottom: 4.5rem;
        padding-top: 2rem;
    
        .arrowLeft {
          display: flex;
          color: $primary-gray-400;
          background-color: transparent;
          margin: 0.5rem;
          padding: 0rem;
          font-size: 2rem;
          border-color: transparent;
          &:hover {
            color: $font;
            background-color: transparent;
            border-color: transparent;
            // box-shadow: 0px 4px 40px 10px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 4px 20px 5px rgba(60, 60, 60, 0.06);
            transition: all 0.5s ease;
          }
        }
                
        h1 {
            color: $primary-gray-500;
            font-weight: bold;
            font-size: 2.25rem;
            padding-left: 2rem;
        }
      }
}




// owner stats
.owner-stats-container {
    .stats-shown {
        h2 {
            color: $primary-gray-400;
        }
        .stats-cards {
            padding: 0 3rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
    }
}



// collab stats
.collab-stats-container {
    .stats-shown {
        h2 {
            color: $primary-gray-400;
        }
        .stats-cards {
            padding: 0 3rem;
            .boxes {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 2rem;
            }
            .charts {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 2rem;
            }
        }
    }
}



// responsive
@media (max-width: 970px) {
    .stats-container {
        padding-top: 4rem;
    }

    .owner-stats-container {
        .stats-shown {
            .stats-cards {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .collab-stats-container {
        .stats-shown {
            .stats-cards {
                .charts {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .boxes {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}


@media (max-width: 710px) {
    .collab-stats-container {
        .stats-shown {
            .stats-cards {
                .boxes {
                    flex-direction: column;
                }
            }
        }
    }
}