.chat-container {
  display: flex;
  flex-direction: row;

  .main-chat {
    // lo puse yo
    flex-grow: 2;
    //--
    background-color: $neutral-100;
    height: 88.5vh;
    position: relative;
    max-width: 70%;

    .chat-name {
      background-color: white;
      height: 64px;
      width: 100%;
      box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.06);
      padding: 1rem 4rem;
      h1 {
        color: $primary-gray-500;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }

    .message-container {
      padding: 2rem;
      padding-bottom: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 80%;
      overflow-y: scroll;
      .text-bubble {
        padding: 1rem;
        font-size: small;
        border-radius: 15px;
        width: 60%;
        margin: 1rem 0;
        background-color: $font;
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.06);
        overflow-wrap: break-word;
        z-index: 10;
      }
      .text-user {
        background-color: $primary-mint-300;
        align-self: flex-end;
      }
      .text-other {
        background-color: white;
        margin-top: 0.5rem;
      }
      .sender-name {
        font-size: small;
      }
    }

    .new-message-container {
      z-index: 50;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: $neutral-100;
      padding: 1rem;
      input {
        width: 90%;
        border-radius: 15px;
        outline: none;
        border-color: $primary-gray-400;
        padding: 0.25rem;
        margin-right: 0.5rem;
      }
      button {
        background-color: $primary-mint-500;
        color: $neutral-50;
        border-radius: 100%;
        border: none;
        height: 40px;
        width: 40px;
        &:hover {
          background-color: $font;
        }
      }
    }
  }

  .chat-selection {
    //lo puse yo
    max-width: 400px;
    //--
    flex-grow: 1;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    overflow-y: scroll;

    h1 {
      margin-left: 3.5rem;
      margin-top: 0rem;
      margin-right: 1rem;
      color: $primary-gray-500;
      font-weight: bold;
      font-size: 1.2rem;
    }

    .chat-individual {
      Button {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 2rem;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        padding: 1rem;
        border-radius: 0.75rem;
        width: 100%;
        border: 0;
        // color: $neutral-100;
        color: $font;
        font-weight: bold;
        background-color: white;
        outline: none;
        text-align: left;
        &:hover {
          background: $neutral-100;
          color: $font;
        }
        h2 {
          margin-top: 0.5rem;
          font-size: 0.85rem;
          align-self: left;
        }
        .chat-icon-right {
          display: flex;
          justify-content: flex-end;
          padding: 0.5px;
          color: $primary-gray-500;
          margin-top: 0.25rem;
        }
        .chat-icon-left {
          display: flex;
          justify-content: flex-start;
          color: $primary-gray-500;
          padding: 0.5px;
          margin-top: 0.25rem;
        }
      }
    }
  }
}

@media (max-width: 970px) {
  .chat-container {
    min-width: 100vw;
    padding-top: 60px;
    height: 96vh;
  }
}
